<p>Welcome, <%= @current_user.name %>!</p>
<h3 class="create"><%= link_to 'Create new post', new_user_post_path(current_user) %></h3>
<% @users.each do |user| %>
  <%= render 'shared/user', user:user %>
<% end %>
